
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!-----
<nav class="nav nav-pills nav-justified">
    <a class="nav-item nav-link active" href="angebote.component.html">Home</a>
    <a class="nav-item nav-link disabled" routerLink = href="/menu-component" routerLinkActive="active"> Menu</a>
    <a class="nav-item nav-link active" routerLink="/angebote-component" routerLinkActive="active">Angebotsseite</a>
    <a class="nav-item nav-link disabled" href=""> Angebotsseite</a>
    <a class="nav-item nav-link disabled" href="#">Login</a>
    </nav>
    <hr>
 


    
  <router-outlet></router-outlet>
-->
<nav class="nav nav-pills nav-justified">
    <a class="nav-item nav-link active" href="app.component.html">Home</a>
    <a class="nav-item nav-link active" routerLink="/angebote-component" routerLinkActive="active">Angebotsseite</a>
    <a class="nav-item nav-link disabled" href="#">Menu</a>
    <a class="nav-item nav-link disabled" href="#">Karenübersicht</a>
    <a class="nav-item nav-link disabled" href="#">Login</a>
  
  
  
  
    
      
    </nav>
    <hr>
  
  <router-outlet></router-outlet>

