<style>
 ::ng-deep .btn-primary {
background-color: #009879;

}
::ng-deep .btn-primary:hover   {
background-color: green;

}
::ng-deep .btn-primary:visited{
background-color: green;
}

::ng-deep .btn-primary:active{
background-color: green;
}
::ng-deep .btn-primary:after{
background-color: green;
}







</style>


<div *ngIf="cartItems.length === 0" class="alert alert-info" style="background-color:#009879; color:white;" >Cart ist Empty</div>



<ul *ngIf="cartItems.length > 0" class="list-group">
<li class="list-group-item" *ngFor="let item of cartItems">
<app-cart-item [cartItem]="item"></app-cart-item>

</li>

<li class="list-group-item active" style="height: 80px; background-color:#009879">
<div style="position:absolute; bottom: 30px;">
<strong>Total</strong> {{ cartTotal | currency: 'EUR' }} 
<!--<button [hidden]= "isDisplaykaufen" (click)="displayFormular()" class="btn btn-secondary" style="background-color:#565e64;  " >Kaufen</button>-->
<!-- KAUFEN Funktion MUSS WEG-->

</div>
</li>
<li><div class="row"> <input type="submit"  class="btn btn-secondary" style= "color:#009879;background-color:  #fff; border-color: #009879; border:2px"  (click)="warenkorbLeeren();" value=Leeren ></div></li>
</ul>
<br>
<br>

<div class="container-fluid">
    
<div class="order-box">
<div class="row"><h6 style="text-align:center; color:#6c757d;">Bitte geben Sie Ihre Daten ein</h6></div>
<hr>
<form #customerOrder ="ngForm" (ngSubmit) ="onClickSubmit(customerOrder.value)">
  <div class="row" > <input type="text" class="form-control" name="vorname" placeholder="Vorname" required minlength="3" [(ngModel)]="model.vorname" #vorname="ngModel"></div>
 <div class="row">  <input type="text" class="form-control" name="nachname" placeholder="Nachname" required minlength="3" [(ngModel)]="model.nachname" #nachname="ngModel"></div> 
 <div class="row">   <input type="text" class="form-control" name="strasse" placeholder="Straße" required minlength="3" [(ngModel)]="model.strasse" #strasse="ngModel"></div>
 <div class="row">   <input type="number" class="form-control" name="hausnummer" placeholder="Hausnummer" required ngModel [(ngModel)]="model.hausnummer" #hausnummer="ngModel"></div>
 <div class="row">   <input type="number" class="form-control" name="plz" placeholder="PLZ" required ngModel></div>
 <div class="row">   <input type="text" class="form-control" name="ort" placeholder="Ort" required minlength="3" ngModel></div>
<div class="row"> <input type="submit"  class="btn btn-secondary" style= "background-color: #009879;" value ="Order"></div>

</form>


    <div *ngIf="vorname.invalid && (vorname.dirty || vorname.touched)" class="alert alert-danger" style="margin-top:10px;">
        <br>
        <div *ngIf="vorname.errors.required">Vorname ist Pflicht</div>
        <div *ngIf="vorname.errors.minlength">Vorname muss min 3 Zeichen haben.</div>

    </div>

    <div *ngIf="nachname.invalid && (nachname.dirty || nachname.touched)" class="alert alert-danger">
        <br>
        <div *ngIf="nachname.errors.required">Nachname ist Pflicht</div>
        <div *ngIf="nachname.errors.minlength">Nachname muss min 3 Zeichen haben.</div>

    </div>

    <div *ngIf="strasse.invalid && (strasse.dirty || strasse.touched)" class="alert alert-danger">
        <br>
        <div *ngIf="strasse.errors.required">Strasse ist Pflicht</div>
        <div *ngIf="strasse.errors.minlength">Strasse muss min 3 Zeichen haben.</div>

    </div>

</div>
<br>

<input type="text" id="name" name="name" class="alert"
      required minlength="4" appForbiddenName="bob"
      [(ngModel)]="model.name" #name="ngModel">

<div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">

  <div *ngIf="name.errors?.required">
    Name is required.
  </div>
  <div *ngIf="name.errors?.minlength">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="name.errors?.forbiddenName">
    Name cannot be Bob.
  </div>

</div>


</div>
<!--
<div [hidden]= "isDisplaybox" class="box">
    <div class="container-fluid">
        <br>
    <div class="row">

    <h5 class="" style="text-align:center">Please Enter your Informations</h5>

</div>
<hr>
<br>

<div class="row">
    <div class="form-group">
        
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Firstname">
       </div>
    </div>

<div class="row">
   
    <div class="form-group">
       
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Lastname">
       </div>


    </div>
    <br>
    <br>
   <h6 class="" style="text-align:center">Adress</h6>
   <hr>
   <br>
   
    <div class="row">
        <div class="form-group">
           
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Street">
           </div>
        </div>
        
        <div class="row">
            <div class="form-group">
               
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Haus number">
               </div>
            </div>
<div class="row">
  
    <div class="form-group">
       
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Zip">
       </div>   



</div>



<div class="row">
  
   
       
    <div class="form-group">
       
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="City">
       </div>   
     



</div>
<br>
<hr>
<div class="row">
  
   
    <div class="form-group">
       
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Remarks"></textarea>
      </div>
     



</div>


<br>




<br>
<div class='row'>
<button (click)="order()"  class="btn btn-secondary" style="background-color:#009879; width: 92%; margin: auto; border-radius: 7px;">Order</button>

</div>


</div>
</div>
<br>
-->

