<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
 
  <app-header></app-header>
  <hr>
  <app-rec></app-rec>
  <app-shop-li></app-shop-li>
 <app-menu></app-menu>


 <div class = "box2000">
    <h1>Registrierung</h1>
    
   
    <form action="http://yourserver/register.php" method="post">
    
   
    <table border="0" cellspacing="2" cellpadding="2">
        <tbody>
            <tr>
                <td id="td" align="right">Firma:</td>
                <td>
                    <input maxlength="50" name="Firma" size="45" type="text" />
                </td>
            </tr>
            <tr>
                <td id="td" align="right">Vorname:</td>
                <td>
                    <input maxlength="50" name="Vorname" size="45" type="text" />
                </td>
            </tr>
            <tr>
                <td id="td" align="right">Nachname:</td>
                <td>
                    <input maxlength="50" name="Nachname" size="45" type="text" />
                </td>
            </tr>
            <tr>
                <td id="td" align="right">Strasse:</td>
                <td>
                    <input maxlength="50" name="Strasse" size="45" type="text" />
                </td>
            </tr>
            <tr>
                <td id="td" align="right">PLZ:</td>
                <td>
                    <input maxlength="5" name="PLZ" size="7" type="text" />
                </td>
            </tr>
            <tr>
                <td id="td" align="right">Ort:</td>
                <td>
                    <input maxlength="50" name="Ort" size="45" type="text" />
                </td>
            </tr>
            <tr>
                <td id="td" align="right">Land:</td>
                <td>
                    <select name="geschl">
                        <option value="0">Deutschland</option>
                        <option value="m">England</option>
                        <option value="f">Frankreich</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td id="td" align="right">Email:</td>
                <td>
                    <input maxlength="80" name="Email" size="45" type="text" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
    <button class="button button2">Registrieren</button>
  </div>
  


    
 