<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="40%"   role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"  src="{{getraenkItem.imageUrl}}"
/>
<!-- img url for cup of coffee

https://images.unsplash.com/photo-1615485736894-a2d2e6d4cd9a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80
-->

    <div class="card-body">
    <p class="card-text">
       <strong>{{getraenkItem.price | currency:'EUR'}}</strong> 
    </p>
      <p class="card-text">{{getraenkItem.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button 
          type="button" 
          class="btn btn-sm btn-primary product-btn"
          (click)="handleAddToCart()">Add to
          Cart</button>
         <!--
         handleAddToCart(product-item.component.ts)
        sends the message with the current product item inside the product item

         -->

          <button type="button" class="btn btn-sm btn-secondary product-btn">View Details</button>
        </div>
        
      </div>
    </div>
    </div>
